
/* HEADER */

/* .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
list-style: none;
display: flex;
}

.nav-items > li {
padding: 10px;
}

.nav-logo {
    width: 90px;
}

.uju {
    font-size: 100px;
    margin-left: 50px;
    color: red;
}

.facts {
    margin: 0.5px;
    text-align: left;
    color: rgba(0, 149, 255, 0.695);

} */

/* INFO SITE */
/* =================================================== */
/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
display: flex;
align-items: center;
background-color: #21222A;
height: 90px;
padding: 30px 25px;

}

.nav--logo_text3, .nav--title4 {
margin: 0;
display: flex;
}

.nav--logo_text3 {
    margin-right: auto;
    color: #61dafb;
    font-weight: 700;
    font-size:22px ;
}

.nav--title4 {
    color: #DEEBF8;
    font-weight: 600;
}


.nav--icon {
    width: 25px;
    margin-right:7px ;
}

main {
    padding: 57px 27px ;
    background-color: #282D35;  
    background-image: url(./Images/reactjs-icon\ 2\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right 75%;
    background-size: 12%;
}

.main--title {
    margin: 0; 
    font-size: 39.06px;
    letter-spacing: -0.05em;
    color:#FFFFFF; 
}

    .main--facts {
        margin-top: 40px;
       color:#FFFFFF;
    
}

.main--facts > li{
    line-height: 46px;
    max-width: 400px;
}

.main--facts > li::marker {
color:#61dafb;
font-size: 1.4rem;
} */

/* =================================================== */
/* AIRBNB PROJECT */

/* NAVBAR*/
/* * {
box-sizing:border-box
}

body {
margin: 0;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #FFFFFF;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    ;
}

.gray--1 {
   color: #918E9B;
   padding-right: 2px;
   padding-left: 2px;
}

.gray {
    color: #918E9B;
    padding-right: 2px;
 }

.nav--logo {
    max-width: 100px;
}

/*CONTENTS */

.hero--photo { 
padding: 5em 20em;
display: flex;
    flex-direction: column;
    align-items: center;
}

.hero--header {
font-size: 4em;
padding-top: 0.05%;
margin-left: 14%;
margin-top: 0;
}

    .hero--content2 {
    margin-top: 0;
    padding-left: 14.2%;
    align-self: center;
    max-width: fit-content;
    font-size: 25px;
    word-wrap: break-word;

    }

.card {
    width: 175px;
    font-size: 12px;
}

.card--image {
width: 100%;
border-radius:12px;

}

/* .card--stats {
    display: flex;
    align-items: center;
} */

/* .card--star {
  height: 14px;  
  padding-right: 2px;
}  */









